/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.header {
  width: 100%;
  height: 50px;
  background-color: #2C2F34;
  border-radius: 15px;
  margin: 5px;
  padding: 25px;
  position: relative;
  color: white;
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: #2C2F34;
  text-align: center;
  list-style: none;
  overflow: hidden;
  border-radius: 15px;
  margin: 5px;
}

.gallery li{
    float: left;
    width: 500px;
    height: 500px;
    overflow: hidden;
    padding:5px;
    text-align: center;
}

.gallery li img {
  border-radius: 15px;
}

.show_header {
  width: 100%;
  background-color: #2C2F34;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  position: relative;
  color: white;
  height: 50px;
}

.show_pic {
  position: fixed;
}
